$kick-pad-color: #db9c9c;
$snare-pad-color: #71cae2;
$hihat-pad-color: #e2d971;

$button-color: #204a56;

$shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}




* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

i, svg {
    pointer-events: none;
}

.tracking-track {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tr {
    background: black;
    height: 1rem;
    width: 5rem;
    margin: 1rem 0.5rem;    
}

.kick-pad, .snare-pad, .hihat-pad {
    width: 5rem;
    height: 5rem;
    margin: 1rem 0.5rem;
    cursor: pointer;
}

.kick-pad {
    background: $kick-pad-color;
}

.snare-pad {
    background: $snare-pad-color;
}

.hihat-pad {
    background: $hihat-pad-color;
}

.pad.active  {
    opacity: 0.5;
}

.pad.active-bar {
    transition: 0.5s;
    transform: scale(1.3);
}

.sequencer {
    min-height: 100vh;
    @include flex-center();
    flex-direction: column;
}

.hihat-track, .snare-track, .kick-track {
    display: flex;
    align-items: center;
    width: 70%;
    justify-content: space-between;
    
}

.kick, .snare, .hihat {
    @include flex-center();
}

.controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    margin: 0rem 2rem;
    button {
        padding: 1rem;
        border: none;
        border-radius: 25%;
        background: $button-color;
        box-shadow: $shadow;
        color: white;
        font-size: 1rem;
        cursor: pointer;
        transition: all 0.5s ease;
    }
}

.pad {
    border-radius: 25%;;
    transition: all 0.5s ease;
    box-shadow: $shadow;

}

 .play {
     padding: 1rem 2rem;
     font-size: 1.5rem;
     color: white;
     border: black;
     background: grey;
     cursor: pointer;
     margin-top: 3rem;
     border-radius: 20px;
     box-shadow: $shadow;
 }

 select {
     padding: 1rem;
     font-size: 1rem;
 }